<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Anime - PURNIME TV</title>
  <link rel="icon" href="https://telegra.ph/file/082d11505390a7ec238ed.jpg" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <style>
    body { background-color: #121212; color: #e0e0e0; }
    .anime-thumbnail { max-height: 230px; border-radius: 10px; }
    .card {
      border: 1px solid #333;
      background-color: #1e1e1e;
    }
    .card-title {
      font-size: 1.2rem;
      font-weight: 600;
      color: #ffbf00;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .card-text {
      font-size: 0.9rem;
      color: #bbb;
    }
    .btn-watch {
      background-color: #4caf50;
      border: none;
      border-radius: 5px;
      padding: 8px 16px;
      font-size: 0.9rem;
      color: #fff;
    }
    .btn-watch:hover {
      background-color: #43a047;
    }
    .btn-save {
      background-color: #ff5722;
      border: none;
      border-radius: 5px;
      padding: 8px 16px;
      font-size: 0.9rem;
      color: #fff;
    }
    .btn-save:hover {
      background-color: #e64a19;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center mb-4">Search Anime</h1>
    <script type="text/javascript">
        atOptions = {
          'key' : 'dd8ebba365a2d1ae7ca5e92744e27e1f',
          'format' : 'iframe',
          'height' : 250,
          'width' : 300,
          'params' : {}
        };
      </script>
      <script type="text/javascript" src="//www.topcreativeformat.com/dd8ebba365a2d1ae7ca5e92744e27e1f/invoke.js"></script>
    <nav class="navbar navbar-dark bg-dark mb-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <div class="d-flex">
          <a class="nav-link" href="/save"><i class="fas fa-bookmark"></i> Saved Anime</a>
        </div>
          <a class="nav-link" href="/search"><i class="fas fa-search"></i> Search</a>
      </div>
    </nav>
    <input type="text" id="searchQuery" class="form-control mb-4" placeholder="Search for anime...">
    <button class="btn btn-primary" onclick="searchAnime()">Search</button>
    <div id="results" class="row row-cols-1 row-cols-md-3 g-4 mt-4"></div>
  </div>
<script>
  function _0x4cd4(){const _0x54e04d=['https://api-otakudesu-livid.vercel.app','Error\x20saving\x20anime:','episode_endpoint','309esUhXe','detail','704936pNPqju','thumb','searchQuery','\x22\x20style=\x22text-decoration:\x20none;\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<img\x20src=\x22','title','\x0a\x20\x20\x20\x20\x20\x20','POST','2FmPEoy','catch','\x0a\x20\x20\x20\x20\x20\x20\x20\x20<h2\x20class=\x22text-center\x22>Hasil\x20Pencarian:\x20','18462inDQlV','map','endpoint','filter','error','\x20-\x20','Error\x20fetching\x20anime\x20detail:','505DsUFUZ','innerHTML','then','\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<div\x20class=\x22col\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<div\x20class=\x22card\x20h-100\x20text-white\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<a\x20href=\x22/anime/','getElementById','168310MhfXuS','309574ChBCXY','Udah\x20di\x20save\x20bro\x20silahkan\x20cek\x20di\x20save','21fxXsqk','episode_date','\x22\x20class=\x22card-img-top\x20anime-thumbnail\x22\x20alt=\x22','36ggsDfo','Error\x20searching\x20anime:','includes','11DpQEcy','episode_list','episode-','9049703EXGtFz','</p>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<a\x20href=\x22/anime/','28BGkFRb','message','search','\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<div\x20class=\x22card-body\x22>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<h5\x20class=\x22card-title\x22>','\x22\x20class=\x22btn\x20btn-watch\x22><i\x20class=\x22fas\x20fa-play\x22></i>\x20Tonton</a>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<button\x20class=\x22btn\x20btn-save\x22\x20onclick=\x22saveAnime(\x27','value','\x27)\x22><i\x20class=\x22fas\x20fa-save\x22></i>\x20Simpan</button>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20</div>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20</a>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20</div>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20</div>\x0a\x20\x20\x20\x20\x20\x20\x20\x20','5804mQMkcW','</h5>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<p\x20class=\x22card-text\x22>','join','/api/v1/detail/','/save/','anime_detail','json','4445832HOette'];_0x4cd4=function(){return _0x54e04d;};return _0x4cd4();}const _0x17b4dc=_0x21ff;(function(_0x150462,_0x338aef){const _0x3df191=_0x21ff,_0x24c453=_0x150462();while(!![]){try{const _0x3b4775=-parseInt(_0x3df191(0x199))/0x1*(parseInt(_0x3df191(0x189))/0x2)+parseInt(_0x3df191(0x180))/0x3*(parseInt(_0x3df191(0x1ad))/0x4)+-parseInt(_0x3df191(0x193))/0x5*(parseInt(_0x3df191(0x18c))/0x6)+-parseInt(_0x3df191(0x19b))/0x7*(parseInt(_0x3df191(0x182))/0x8)+parseInt(_0x3df191(0x19e))/0x9*(-parseInt(_0x3df191(0x198))/0xa)+-parseInt(_0x3df191(0x1a1))/0xb*(parseInt(_0x3df191(0x17c))/0xc)+parseInt(_0x3df191(0x1a4))/0xd*(parseInt(_0x3df191(0x1a6))/0xe);if(_0x3b4775===_0x338aef)break;else _0x24c453['push'](_0x24c453['shift']());}catch(_0x7bd0b3){_0x24c453['push'](_0x24c453['shift']());}}}(_0x4cd4,0x35843));const basenya=_0x17b4dc(0x17d);async function searchAnime(){const _0x17c31c=_0x17b4dc,_0x14c022=document[_0x17c31c(0x197)](_0x17c31c(0x184))[_0x17c31c(0x1ab)];try{const _0x3bf339=await fetch(basenya+'/api/v1/search/'+encodeURIComponent(_0x14c022)),_0x5f301c=await _0x3bf339[_0x17c31c(0x17b)](),_0x459989=_0x5f301c[_0x17c31c(0x1a8)]||[],_0x3e6e7b=await Promise['all'](_0x459989[_0x17c31c(0x18d)](_0x5d9cbc=>fetchAnimeDetail(_0x5d9cbc[_0x17c31c(0x18e)])));displayResults(_0x3e6e7b,_0x14c022);}catch(_0x3c808a){console['error'](_0x17c31c(0x19f),_0x3c808a[_0x17c31c(0x1a7)]);}}async function fetchAnimeDetail(_0x420d79){const _0x413dfa=_0x17b4dc;try{const _0x134db9=await fetch(basenya+_0x413dfa(0x178)+_0x420d79),_0x2a35e1=await _0x134db9[_0x413dfa(0x17b)]();return _0x2a35e1[_0x413dfa(0x1a2)]=(_0x2a35e1[_0x413dfa(0x1a2)]||[])[_0x413dfa(0x18f)](_0x29d2d1=>_0x29d2d1[_0x413dfa(0x17f)][_0x413dfa(0x1a0)](_0x413dfa(0x1a3))),_0x2a35e1;}catch(_0x2e0e7a){return console[_0x413dfa(0x190)](_0x413dfa(0x192),_0x2e0e7a['message']),{};}}function _0x21ff(_0x33b774,_0x4805a7){const _0x4cd4ca=_0x4cd4();return _0x21ff=function(_0x21ff38,_0x8dfa0b){_0x21ff38=_0x21ff38-0x177;let _0x47f671=_0x4cd4ca[_0x21ff38];return _0x47f671;},_0x21ff(_0x33b774,_0x4805a7);}function displayResults(_0x4176c3,_0x140122){const _0x100f2c=_0x17b4dc,_0x2f99b7=document[_0x100f2c(0x197)]('results');_0x2f99b7[_0x100f2c(0x194)]=_0x100f2c(0x18b)+_0x140122+'</h2>\x0a\x20\x20\x20\x20\x20\x20\x20\x20'+_0x4176c3[_0x100f2c(0x18d)](_0x28374c=>_0x100f2c(0x196)+_0x28374c['endpoint']+_0x100f2c(0x185)+_0x28374c[_0x100f2c(0x17a)][_0x100f2c(0x183)]+_0x100f2c(0x19d)+_0x28374c[_0x100f2c(0x17a)][_0x100f2c(0x186)]+_0x100f2c(0x1a9)+_0x28374c[_0x100f2c(0x17a)][_0x100f2c(0x186)]+_0x100f2c(0x1ae)+_0x28374c[_0x100f2c(0x17a)][_0x100f2c(0x181)][0x2]+_0x100f2c(0x191)+_0x28374c[_0x100f2c(0x17a)][_0x100f2c(0x181)][0x6]+'</p>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<p\x20class=\x22card-text\x22>'+(_0x28374c[_0x100f2c(0x1a2)][0x0]?.[_0x100f2c(0x19c)]||'')+'</p>\x0a\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20\x20<p\x20class=\x22card-text\x22>'+_0x28374c[_0x100f2c(0x17a)][_0x100f2c(0x181)][0xa]+_0x100f2c(0x1a5)+_0x28374c[_0x100f2c(0x18e)]+_0x100f2c(0x1aa)+_0x28374c[_0x100f2c(0x18e)]+_0x100f2c(0x1ac))[_0x100f2c(0x177)]('')+_0x100f2c(0x187);}function saveAnime(_0x596156){const _0x220be1=_0x17b4dc;fetch(_0x220be1(0x179)+_0x596156,{'method':_0x220be1(0x188)})[_0x220be1(0x195)](_0x21c4a3=>{const _0x3198eb=_0x220be1;_0x21c4a3['ok']&&alert(_0x3198eb(0x19a));})[_0x220be1(0x18a)](_0x129a50=>console['error'](_0x220be1(0x17e),_0x129a50));}
</script>
</body>
</html>
